*{margin: 0;
padding: 0;
box-sizing: border-box;}

  
input{padding: 10px 40px;
     border: 2px solid tomato;
     border-radius: 8px;
     font-size: 32px;
     color: black;
     font-weight: bold;}

     input:focus{
             width: 80%;
     }
    
     .boy-ring{margin-left: 600px;

     }
     .img2{
        position: relative;
        right:420px;
        bottom:560px;

     }
    
    
 
h2{background-color: darkblue;
    color:white;
   padding: 20px;
   height: 200px;
   width: 100%;
   font-size: 80px;
   text-align:center;
}
p{background-color: burlywood;
    color: aliceblue;
    height: 40px;
    width: 100%;
    text-align:center;
    font-size: 30px;
}
h3{background-color:yellow;
    color:red;
    padding: 20px;
   height: 100px;
   width: 100%;
   font-size: 80px;
   text-align:center;
}
.btn{  margin: 0px 0 00px 200px;
       padding: 15px;
       background-color: aliceblue;
       color: black;
       border-radius: 8px;}

       


.btn:hover{cursor: pointer;
                  background: green;}

.btn2{ margin-left: 10px; 
       padding: 20px;
       background-color: aliceblue;
       color: black;
       border-radius: 8px;
          } 
          .btn2:hover{cursor:pointer;
            background: green;}

           